  /**
* @Author: aja97
* @Date:   2017-03-17T11:58:50-04:00
* @Last modified by:   aja97
* @Last modified time: 2017-03-20T13:57:44-04:00
*/

atom-text-editor::shadow {
  .type.name.sal {
    font-style: italic;
  }
  .type.colon.sal {
    font-style: normal;
  }
  .characters.reserved.sal {
    color: #ffffe6;
    font-weight: bold;
  }
  .comment.line.sal {
  color: lightslategray;
  font-style: italic;
  }
  .delim.sal {
    color: #80b3ff;
    font-weight: bold;
  }
  .construct.declaration.sal {
    color: #80b3ff;
    font-weight: bold;
  }
  .type.declaration.sal {
    color: #80b3ff;
    font-weight: bold;
  }
  .token.reserved.sal {
    color: #b3ffd9;
  }
  .token.nextstate.sal {
    color: lightcoral;
  }
  .INPUT.inputvar.varscope.sal {
    font-weight: bold;
  }
  .name.inputvar.varscope.sal {
    font-style: italic;
  }
  .OUTPUT.outputvar.varscope.sal {
    font-weight: bold;
    color: lightcoral;
  }
  .name.outputvar.varscope.sal {
    font-style: italic;
  }
  .temporalLogic.operators.sal {
    font-weight: bold;
    color: #b3ffd9;
  }
}
